In [1]:
import tensorflow as tf
import pandas as pd

In [2]:
file='https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(file)
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [3]:
indep =  boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
dep = boston[['medv']]

print(indep.shape, dep.shape)

(506, 13) (506, 1)

In [4]:
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)

model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [7]:
model.fit(indep, dep, epochs=1000, verbose=0)

In [9]:
model.predict(indep[5:10])

array([[25.916151],
       [22.145462],
       [19.134771],
       [10.919033],
       [18.537367]], dtype=float32)

In [11]:
indep[5:10]

   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [12]:
# 모델의 수식 확인
model.get_weights()

[array([[-0.09168065],
        [ 0.05106752],
        [-0.04016609],
        [ 2.749813  ],
        [ 1.7235653 ],
        [ 5.2543836 ],
        [-0.01126595],
        [-0.9963173 ],
        [ 0.18075253],
        [-0.01057233],
        [-0.40933883],
        [ 0.01444037],
        [-0.46787122]], dtype=float32), array([4.338363], dtype=float32)]