In [ ]:
import tensorflow as tf
import pandas as pd

In [ ]:
file='https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(file)
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [13]:
indep =  boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
dep = boston[['medv']]

print(indep.shape, dep.shape)

(506, 13) (506, 1)

In [18]:
X = tf.keras.layers.Input(shape=[13])
H = tf.keras.layers.Dense(10,activation='swish')(X)

Y = tf.keras.layers.Dense(1)(H)

model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [27]:
model.fit(indep, dep, epochs=1000, verbose=0)

In [28]:
model.summary()

Model: "functional_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_4 (InputLayer)         [(None, 13)]              0
_________________________________________________________________
dense_6 (Dense)              (None, 10)                140
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 11
=================================================================
Total params: 151
Trainable params: 151
Non-trainable params: 0
_________________________________________________________________

In [29]:
model.predict(indep[5:10])

array([[25.614016],
       [21.164158],
       [18.03961 ],
       [10.062542],
       [17.635843]], dtype=float32)

In [30]:
dep[5:10]

   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [26]:
# 모델의 수식 확인
model.get_weights()

[array([[ 2.79308558e-01,  2.89463401e-01, -5.64071417e-01,
         -4.11573380e-01,  2.21297607e-01,  3.05408597e-01,
         -1.23950757e-01, -2.61953115e-01, -3.92906189e-01,
         -3.33657349e-03],
        [ 1.92382932e-01, -4.00941819e-01,  2.50606179e-01,
          1.65951490e-01,  4.57924604e-02,  3.01263213e-01,
         -1.18081465e-01, -2.59492606e-01,  2.79060662e-01,
         -2.22788543e-01],
        [ 2.17338443e-01, -2.42368639e-01,  1.17119692e-01,
          6.06857657e-01, -3.52839649e-01,  2.80262023e-01,
         -4.43619221e-01,  2.79283207e-02,  5.00523932e-02,
         -5.55919766e-01],
        [ 4.88182664e-01, -4.20887351e-01, -1.10612243e-01,
          1.06344068e+00,  9.38609958e-01, -4.91230786e-01,
         -4.31730658e-01, -2.94613242e-01, -1.64868474e-01,
         -9.04981494e-01],
        [-3.33179712e-01, -2.76072919e-01,  2.29191555e-05,
          3.26996863e-01,  6.56529725e-01, -5.49685419e-01,
          1.75084218e-01, -6.42434597e-01, -2.84393728e-01,
         -6.08312905e-01],
        [-3.34733784e-01, -1.90780059e-01, -1.89424127e-01,
          8.52566302e-01,  1.76541388e-01, -2.64105231e-01,
          6.10011965e-02,  6.72642980e-03,  1.40321419e-01,
         -3.28449845e-01],
        [-8.85064900e-02,  3.13472480e-01,  3.66766274e-01,
          3.64334434e-01,  4.11260456e-01,  2.08060563e-01,
         -3.67974848e-01,  2.77482420e-01,  2.57697344e-01,
         -4.81816940e-02],
        [ 1.07716918e-01, -2.74894625e-01,  4.14872676e-01,
         -5.69974668e-02,  4.97240067e-01,  2.42761075e-01,
         -2.56324857e-01, -3.93324345e-01, -2.93100238e-01,
         -2.70687461e-01],
        [-3.44890535e-01, -2.74068005e-02,  3.40724707e-01,
          5.15411317e-01, -3.72726023e-01, -3.96629989e-01,
          3.74102294e-01,  2.33076245e-01, -3.46749395e-01,
         -2.68226743e-01],
        [-4.14638072e-01, -2.78573275e-01, -5.65445840e-01,
          1.19484186e-01,  1.72157973e-01,  3.10019523e-01,
         -1.48856014e-01, -4.29297835e-02, -4.65227664e-01,
          5.48818484e-02],
        [ 4.11402106e-01, -5.87542415e-01,  1.84329644e-01,
          5.65695226e-01,  4.07193720e-01,  2.01817140e-01,
          1.81951582e-01,  3.11766714e-01,  3.19150180e-01,
         -5.99184334e-01],
        [-4.76086557e-01,  2.63816193e-02,  1.62716940e-01,
          4.87483665e-02,  1.65037096e-01, -1.45883381e-01,
          2.35868841e-02,  2.51067668e-01,  1.32502690e-01,
          2.41134435e-01],
        [-7.95842707e-02,  3.09265610e-02, -5.25134802e-01,
         -6.31043255e-01, -2.40193456e-01,  2.93562055e-01,
          9.00393277e-02,  3.68981719e-01, -4.39070687e-02,
          4.69698980e-02]], dtype=float32),
 array([ 0.0000000e+00, -1.3117094e-01, -5.7061512e-02,  4.4007823e-01,
         4.3981186e-01, -4.4088393e-01,  1.3367823e-05, -2.6599929e-01,
        -1.4938690e-01, -3.7784919e-01], dtype=float32),
 array([[-0.37538934],
        [ 0.29815254],
        [ 0.77899444],
        [ 0.46419778],
        [ 0.5174198 ],
        [-0.5531003 ],
        [-0.46061143],
        [-0.5614897 ],
        [ 0.6451282 ],
        [-0.07905333]], dtype=float32),
 array([0.44067916], dtype=float32)]